:root {
    --donkerBlauw: #050B21;
    --wit: #E3D6C5;
    --oranje: #B62410;
    --blauwPaars: #6B3FF9;
    --logoFont: "Oi", serif;
    --headingFont: "Teko", sans-serif;
    --subheadingFont: "Inter", sans-serif;
    --normaleTextFont: "Inter", sans-serif;
}


body {
    margin: 0;
    background-color: var(--donkerBlauw);
    height: 100vh;
    overflow-y: hidden;
}

.wrapper {
    height: 80%;
    padding: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

