:root {
    --donkerBlauw: #050B21;
    --wit: #E3D6C5;
    --oranje: #B62410;
    --blauwPaars: #6B3FF9;
    --logoFont: "Oi", serif;
    --headingFont: "Teko", sans-serif;
    --subheadingFont: "Inter", sans-serif;
    --normaleTextFont: "Inter", sans-serif;
}


body {
    margin: 0;
    background-color: var(--donkerBlauw);
    height: 100vh;
    overflow-y: hidden;
}

.wrapper {
    height: 80%;
    padding: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}


#waarschuwing, #keuzescherm {
    display: none;
}

#introscherm {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#introscherm {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.introLogo {
    width: 90%;
}

#keuzescherm {
    height: 100%;
    overflow-y: hidden;
    background-image: url(/img/keuzeschermbg.jpg);
    background-position: top left;
    background-size: cover;
    display: flex;
    align-items: center;
}

    #keuzescherm .wrapper {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

.keuzeschermLogo {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 20%;
}


    .accountBtns button {
        font-family: var(--headingFont);
        font-size: 24px;
        font-weight: 600;
        border: var(--wit) 4px solid;
        border-radius: 12px;
        height: 40%;
        -webkit-box-shadow: 0px 0px 10px 4px rgba(227, 214, 197, 0.29);
        -moz-box-shadow: 0px 0px 10px 4px rgba(227, 214, 197, 0.29);
        box-shadow: 0px 0px 10px 4px rgba(227, 214, 197, 0.29);
    }

.inlogBtn {
    background-color: var(--wit);
    color: var(--donkerBlauw);
}

.registreerBtn {
    background-color: transparent;
    color: var(--wit);
}

@media screen and (min-width: 601px) {
    #waarschuwing {
        display: block;
    }

    #introscherm, #keuzescherm {
        display: none;
    }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}




































/*animatie sectie*/
.logoAnimatie {
    -webkit-animation: logoAnimatie 1.2s;
    animation: logoAnimatie 1.2s;
}

@-webkit-keyframes logoAnimatie {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1
    }

    24% {
        opacity: 1
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    25%, 55%, 75%, 87% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }
}

@keyframes logoAnimatie {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1
    }

    24% {
        opacity: 1
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    25%, 55%, 75%, 87% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }
}