@model IAsyncEnumerable<FestivalCompanion.Models.Location>
@using System.Text.Json

@{
	ViewData["Title"] = "Kaart";
	var username = Context.Session.GetString("Username") ?? null;
	var locations = new List<FestivalCompanion.Models.Location>();
}

@await foreach (var location in Model)
{
	locations.Add(location);
}

<main class="mapscherm">
	<div class="wrapper">
		<figure class="beeldmerk">
			<img src="~/img/bloodhoundbeeldmerkpaars.png" alt="Bloodhound Beeldmerk Paars" />
		</figure>

		<header>
			<h2 class="welkombericht">Hallo @username !</h2>
			<a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket uitlogBtn"></i></a>
		</header>

		<section class="mapContainer">
			<div id="map"></div>
		</section>

		<section class="legenda">
			<article class="legendaLinks">
				<figure class="legendaItem">
					<img src="~/img/bierkraamV2.png" alt="Bierkraam icon legenda" />
					<figcaption class="">Bierkraam</figcaption>
				</figure>
				<figure class="legendaItem">
					<img src="~/img/eettentIconV2.png" alt="Eettent icon legenda" />
					<figcaption class="">Foodstand</figcaption>
				</figure>
			</article>

			<article class="legendaRechts">
				<figure class="legendaItem">
					<img src="~/img/podiumIconV2.png" alt="Podium icon legenda" />
					<figcaption class="">Podium</figcaption>
				</figure>
				<figure class="legendaItem">
					<img src="~/img/toiletIconV2.png" alt="Toilet icon legenda" />
					<figcaption class="">Toilet</figcaption>
				</figure>
			</article>
		</section>
	</div>
</main>


@section Scripts {
	<script>
		$(function () {
			var map = L.map('map').setView([51.53553000, 5.07792000], 18);

			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; OpenStreetMap contributors',
				maxZoom: 19
			}).addTo(map);

			var podiumIcon = L.icon({ iconUrl: '/img/podiumIconV2.png', iconSize: [55,65] });
			var eettentIcon = L.icon({ iconUrl: '/img/eettentIconV2.png', iconSize: [55,65] });
			var bierkraamIcon = L.icon({ iconUrl: '/img/bierkraamV2.png', iconSize: [55,65] });
			var toiletIcon   = L.icon({ iconUrl: '/img/toiletIconV2.png', iconSize: [55,65] });
			var standaardIcon = L.icon({ iconUrl: '/img/toiletIconV2.png', iconSize: [55,65] });


			var markers = @Html.Raw(JsonSerializer.Serialize(
				locations.Select(l => new
				{
					latitude = l.Breedtegraad,
					longitude = l.Lengtegraad,
					popup = l.Naam ?? "",
					type = l.Type
				})
			));

			markers.forEach(function (m) {
				var iconToUse;

				switch(m.type.trim().toLowerCase()){
					case "podium":
						iconToUse = podiumIcon;
						break;
					case "bierkraam":
						iconToUse = bierkraamIcon;
						break;
					case "toilet":
						iconToUse = toiletIcon;
						break;
					case "eettent":
						iconToUse = eettentIcon;
						break;
					default:
						iconToUse = standaardIcon;
				}

				L.marker([m.longitude, m.latitude], {icon: iconToUse})
				.addTo(map)
				.bindPopup(m.popup);
			});

			setTimeout(function () { map.invalidateSize(); }, 200);
		});
	</script>
}
