@model IAsyncEnumerable<FestivalCompanion.Models.Location>
@using System.Text.Json

@{
	ViewData["Title"] = "Map";
	var locations = new List<FestivalCompanion.Models.Location>();
}


@await foreach (var location in Model)
{
	locations.Add(location);
}

<div id="map" style="height:100vh; width:100vw;"></div>

@section Scripts {
	<script>
		$(function () {
			var map = L.map('map').setView([51.53553000, 5.07792000], 16); //Voor Babita: als je de 16 verandert, zoom je de startpositie van de kaart in of uit, mocht je dat willen.




			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; OpenStreetMap contributors',
				maxZoom: 19
			}).addTo(map);
			
			var podiumIcon = L.icon({ iconUrl: '/img/podiumIcon.png', iconSize: [20,20] });
			var eettentIcon = L.icon({ iconUrl: '/img/eettentIcon.png', iconSize: [20,20] });
			var bierkraamIcon = L.icon({ iconUrl: '/img/bierkraamIcon.png', iconSize: [20,20] });
			var toiletIcon   = L.icon({ iconUrl: '/img/toiletIcon.png', iconSize: [20,20] });
			var standaardIcon = L.icon({ iconUrl: '/img/podiumIcon.png', iconSize: [20,20] });


			// example marker
			L.marker([51.53495000, 5.07737000]).addTo(map).bindPopup('Hello Festival!').openPopup();

			var markers = @Html.Raw(JsonSerializer.Serialize(
				locations.Select(l => new
				{
					latitude = l.Breedtegraad,
					longitude = l.Lengtegraad,
					popup = l.Naam ?? "",
					type = l.Type
				})
			));

			markers.forEach(function (m) {
				var iconToUse;

				switch(m.type){
					case "Podium":
						iconToUse = podiumIcon;
						break;
					case "Eettent":
						iconToUse = eettentIcon;
						break;
					case "Bierkraam":
						iconToUse = bierkraamIcon;
						break;
					case "Toilet":
						iconToUse = toiletIcon;
						break;
					default:
						iconToUse = standaardIcon;
				}

				L.marker([m.longitude, m.latitude], {icon: iconToUse})
				.addTo(map)
				.bindPopup(m.popup).openPopup();
			});

			setTimeout(function () { map.invalidateSize(); }, 200);
		});
	</script>
}
