@model AccountLoginViewModel
@{
    ViewData["Title"] = "Inlog Pagina";
}

<form method="post" asp-action="Login">
    <div class="form-group">
        <label>Email: </label>    
        <input asp-for="Email" type="email" placeholder="Email" />
    </div>
    <div class="form-group">
        <label>Wachtwoord: </label>
        <input asp-for="Password" type="password" placeholder="Wachtwoord" />
    </div>
    <div class="form-group">
        <button type="submit">Inloggen</button>
    </div>
</form>